@charset "UTF-8";
/* base
================== */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font-size: 62.5%;/*16px相等のフォントサイズを10px相等に変える*/
}

body {
	width:100%;
	font-family:"Noto Sans JP", sans-serif;
	font-size:1.4rem;
	line-height:1.8;
	color:#333333;
}

.wrapper {
	overflow:hidden;/*スマホの時の横揺れ防止*/
}

h1,h2,h3,h4,h5,h6 {
	margin:0;
	padding:0;
	font-weight:normal;
	line-height:1.8;
	color:#333333;
}

a {
	color:#333333;
	text-decoration:none;
}


img {
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
	/* width:100%;/*フルードイメージ用*/ 
}

ul,ol {
	list-style: none inside;
}

a:link,
a:visited {
	color: #333333;
	text-decoration: none;
}

a:hover {
	color: #FF2893;
}

/*センタリング*/
.inner {
	width:70%;
	max-width:1000px;
	margin:0 auto;
}

/*グローバル*/
.mb28 {
	margin-bottom:28px;
}

/* 左揃え */
.lLeft{
	text-align: left;
}


/* header
================== */
#wrapper {
	width: 100%;
	margin: 0 auto;
}

header {
	/* display: flex; */
	background-color: #0CB4CC;
	/* position: relative; */
	/*justify-content: space-between;*/
}

/*ハンバーガーボタン*/
.hum{
	width:50px;
	height:50px;
	background-color:rgba(0, 0, 0, 0.6);
	border-radius:5px 5px 5px 5px;
	position:fixed;
	right:30px;
	top:20px;
	z-index:1000;
	cursor: pointer;
}
.hum:hover {
	background-color:rgba(150, 175, 178 ,0.8);
	transition-duration: 0.2s;
}
.hum div{
	position:absolute;
	left:5px;
	transition:0.5s;
}
.burger{
	width:40px;
	height:2px;
	background-color:rgba(255,255,255,1);
	border-radius:1px;
}
.burger:nth-child(1){
	top:7px;
}
.burger:nth-child(2){
	top:18px;
}
.burger:nth-child(3){
	top:29px;
}
.burger-txt{
	font-size:1rem;
	color:rgba(255,255,255,1);
	width:40px;
	text-align:center;
	top:32px;
}

.tapped .burger:nth-child(1){
	top:18px;
	transform:rotate(405deg);
}
.tapped .burger:nth-child(2){
	top:18px;
	left:300px;
	opacity:0;
}
.tapped .burger:nth-child(3){
	top:18px;
	transform:rotate(-405deg);
}

/*メインロゴ*/
#logo {
	margin: 0 auto;
	padding: 20px;
}

#logo img {
	width: 300px;
	/*height: auto;*/
}

/*ナビゲーション*/
.nav-wrap{
	position:fixed;
	background-color:rgba(150, 175, 178, 0.8);
	left:-100%;
	top:0;
	z-index:999;
	width:100%;
	height:100vh;
	padding-top:60px;
	transition:0.5s;
}
.nav-wrap.tapped{
	left:0;
}
.nav-wrap ul{
	font-family: 'Dongle', sans-serif;
	font-size: 30px;
	border-top:1px solid rgba(255,255,255,1);
	width:80%;
	margin:0 auto;
	text-align: center;
}
.nav-wrap li:hover {
	background-color:rgba(12, 180, 204, 0.8);
	transition-duration: 0.2s;
}
.nav-wrap ul li a{
	display:block;
	height:50px;
	line-height:50px;
	border-bottom:1px solid rgba(255,255,255,1);
	color:rgba(255,255,255,1);
	/* padding-left:50px; */
}

/* main
================== */
h2 {
	text-align: center;
	font-family: 'Dongle', sans-serif;
	font-size: 40px;
}
/* カテゴリーごとのクラス */
.content {
	margin-top: 100px;
	margin-bottom: 60px;
	text-align: center;
}

.main-top {
	margin-top: 20px;
}

/* Nwes */
.news-content {
	margin-bottom: 40px;
}
.news-hd {
	font-size: 2rem;
	margin-bottom: 10px;
	color: #0CB4CC;
}
.news-text {
	line-height: 300%;
}
.news-link {
	text-decoration: underline;
}

/* Animation */
.flex-wrap {
	display: flex;
	flex-wrap: wrap;
}

.card{
	display: block;
	width: 30%;
	height: 220px;
	margin-bottom: 20px;
	margin-right: 5%;
	/* padding: 15px 20px; */
	/* border: solid 2px #96AFB2; */
	border-radius: 5px;
	position: relative;
	overflow: hidden;
}
.card:nth-child(3n) {
	margin-right: 0px;
}
/* .card:hover{
	background: rgba(150, 175, 178, 0.3);
	transition-duration: 0.2s;
} */
.img-wrap{
	position: absolute;
	top: 50%;                    
   	left: 50%; 
   	transform: translateY(-50%) translateX(-50%);
	width: 100%;
	cursor: pointer;
}
.img-wrap:hover{
	opacity: 0.5;
	transition-duration: 0.2s;
}

/* movie */
.movieThum-wrap {
	width: 80%;
	margin: 0 auto 20px;
}
.movieThum-wrap:hover {
	opacity: 0.5;
	transition-duration: 0.2s;
}

/* music */
.card-music{
	display: block;
	width: 30%;
	height: 270px;
	margin-bottom: 20px;
	margin-right: 5%;
	/* padding: 15px 20px; */
	/* border: solid 2px #96AFB2; */
	border-radius: 5px;
	position: relative;
	overflow: hidden;
}
.card-music:nth-child(3n) {
	margin-right: 0px;
}


/* test */
#bg {
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.4);
}

#photo {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
/* 	width: 100%;
	height: auto;
 */	width: 640px;
	height: 420px;
}


	
/* footer
================== */
footer {
	height: 40px;
	text-align: right;
	background-color: #0CB4CC;
	position: relative;
}

.footer_text {
	position: absolute;
	top: 8px;
	right: 140px;
}
footer small{
	font-size: 14px;
	color: white;
}


/*ページトップに戻るボタン*/
.topBtn{
	width:50px;
	height:50px;
	background-color:rgba(0,0,0,0.6);
	position:fixed;
	right:30px;
	bottom:20px;
	border-radius:10px;
}
.topBtn:hover {
	background-color:rgba(150, 175, 178 ,0.8);
	transition-duration: 0.2s;

}
.topBtn a{
	display:block;
	width:100%;
	height:100%;
}
.topBtn a:before{
	content:"";
	display:block;
	width:20px;
	height:20px;
	position:absolute;
	left:48%;
	top:60%;
	border:solid rgba(255,255,255,1);
	border-width:2px 0 0 2px;
	margin:-10px 0 0 -10px;
	transform:rotate(45deg);
}

/* movie page
================== */
.movie-top {
	margin-top: 40px;
}
.movie-name {
	text-align: left;
	line-height: 40px;
}
.movie-caption {
	display: flex;
	margin: 50px 0;
}
.movie-img {
	width: 50%;
	margin-left: 10%;
}
.movie-textHd {
	font-family: 'Dongle', sans-serif;
	font-size: 30px;
}
.movie-text {
	width: 40%;
	text-align: left;
}
/* Youtube */
.youtube-wrap {
	position: relative;
	margin-bottom: 50px;
	padding-bottom: 56.25%; /*アスペクト比 16:9の場合の縦幅*/
	height: 0;
	overflow: hidden;
}
.youtube-wrap iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}



/* responsive
================== */
/* タブレット */
@media screen and (max-width:1024px){
	a:hover {
		color: #333333;
	}
	/* ハンバーガーメニューとトップへ戻るボタンのhoverをなくす */
	.hum:hover {
		background-color:rgba(0, 0, 0, 0.6);
	}
	.topBtn:hover {
		background-color:rgba(0, 0, 0, 0.6);
	}

	/* イメージのhoverをなくす */
	.img-wrap:hover{
		opacity: 1;
	}
}

/* スマートフォン */
@media screen and (max-width:599px){
	body {
		font-size:1.4rem;
	}
	
	.inner {
		width:80%;
	}
	.inner .img-mobile{
		width: 100%;
	}

	/* モバイル用左揃え */
	.lLeft-mobile {
		text-align: left;
	}

	/* ハンバーガーボタン */
	.hum{
		width:40px;
		height:40px;
		right:15px;
		top:20px;
	}
	.burger{
		width:30px;
		height:2px;
	}
	.burger:nth-child(1){
		top:8px;
	}
	.burger:nth-child(2){
		top:19px;
	}
	.burger:nth-child(3){
		top:30px;
	}
	.burger-txt{
		overflow: hidden;
  		text-indent: 100%;
  		white-space: nowrap;
	}
	.tapped .burger:nth-child(1){
		top:19px;
	}
	.tapped .burger:nth-child(2){
		top:19px;
	}
	.tapped .burger:nth-child(3){
		top:19px;
	}
	
	/* News */
	.news-content {
		text-align: left;
	}
	.news-text, .news-link {
		line-height: 200%;
	}
	
	
	/* Animation */
	.flex-wrap {
		display: block;
	}
	
	/* card */
/* 	.card {
		width: 100%;
		height: 250px;
		margin:0 auto;
	}
	.card:nth-child(3n) {
		margin-right: auto;
	}
 */
	.card-music {
		width: 90%;
		height: 400px;
		margin:10 auto;
	}
	.card-music:nth-child(3n) {
		margin-right: auto;
	}
		
	#photo {
		width: 90%;
		height: fit-content;
	}

	/* movie */
	.movieThum-wrap {
		width: 100%;
	}
	
	
	/* footer */
	.footer_text {
		position: static;
		padding-top: 6px;
		text-align: center;
	}
	

	/*ページトップに戻るボタン*/
	.topBtn{
		width:40px;
		height:40px;
		right:15px;
		bottom:20px;
	}
	.topBtn a:before{
		width:18px;
		height:18px;
		left:50%;
		top:62%;
	}
	/* movie page
	================== */
	.movie-caption {
		display: block;
		margin-top: 20px;
	}
	.movie-name {
		text-align: center;
	}
	.movie-textHd {
		font-family: 'Dongle', sans-serif;
		text-align: center;
	}
	.movie-text {
		width: 100%;
		margin-bottom: 20px;
	}
	.movie-img {
		width: 100%;
		margin-left: 0;
	}
}


/* color
================== */

/* Color Theme Swatches in Hex */
.clear-and-happy-1-hex { color: #FFEA4A; }
.clear-and-happy-2-hex { color: #B20A5E; }
.clear-and-happy-3-hex { color: #FF2893; }
.clear-and-happy-4-hex { color: #0CB4CC; }
.clear-and-happy-5-hex { color: #96AFB2; }

/* Color Theme Swatches in RGBA */
.clear-and-happy-1-rgba { color: rgba(255, 234, 74, 1); }
.clear-and-happy-2-rgba { color: rgba(178, 10, 94, 1); }
.clear-and-happy-3-rgba { color: rgba(255, 40, 147, 1); }
.clear-and-happy-4-rgba { color: rgba(12, 180, 204, 1); }
.clear-and-happy-5-rgba { color: rgba(150, 175, 178, 1); }

/* Color Theme Swatches in HSLA */
.clear-and-happy-1-hsla { color: hsla(53, 100, 64, 1); }
.clear-and-happy-2-hsla { color: hsla(330, 89, 36, 1); }
.clear-and-happy-3-hsla { color: hsla(330, 100, 57, 1); }
.clear-and-happy-4-hsla { color: hsla(187, 88, 42, 1); }
.clear-and-happy-5-hsla { color: hsla(186, 15, 64, 1); }